<nav class="navbar fixed-top navbar-light bg-transparent m-4">
  <form class="container-fluid justify-content-end">
    <%= link_to "LOGIN", new_user_session_path, class: "landing-navbar-button" %>
  </form>
</nav>
