.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  border-radius: 20px;
  // background-color: rgba(188, 232, 240, 0.8);
  background-color: #1F7A8C;
  color: white;
  font-family: 'Intel', sans-serif;
}

.btn-close {
  color: white;
}

.swal2-container.swal2-top, .swal2-container.swal2-center, .swal2-container.swal2-bottom {
  grid-template-columns: auto minmax(0, 1fr) auto;
  // max-width: 1200px;
  margin: 0px auto;
}

.swal2-container.swal2-center>.swal2-popup {
  width: 549px;
  height: 100%;
  border-radius: 20px;
  background-color: #E8E8E8;
  border: 1px;
  box-shadow: 0px 0px 1px 1px #00000026;
  font-family: 'Intel', sans-serif !important;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px auto;
  padding-bottom: 20px;

}

.swal2-styled.swal2-confirm {
  padding: 10px 30px !important;
  background-color: #1F7A8C !important;
  transition: background 0.3s ease !important;
  color: white;
  border-radius: 20px !important;
  box-shadow: 0px 0px 1px 1px #00000026 !important;
}

.swal2-html-container {
  text-align: center !important;
  margin: 0px auto !important;
  color: #071e21;
}

.swal2-styled.swal2-confirm:hover {
  background-color: #175c6a !important;
  color: white !important;
}

.swal2-title {
  margin-bottom: 5px !important;
  padding: 0px !important;
}

.swal2-actions {
  margin: 5px auto !important;
}

.swal2-image {
  margin: 13px auto !important;
}
