.landing-navbar-button {
  padding: 10px 30px;
  background: #1F7A8C;
  transition: background 0.3s ease;
  opacity: 90%;
  text-decoration: none;
  color: white;
  // font-weight: bold;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2);
}


.landing-navbar-button:hover {
  background-color: #175c6a;
  color: white;
}
// .landing-navbar {
//   background-color: #E8E8E8;
//   width: 100px;
// }


// .landing_navbar {
//   height: 64px; /* Full-height: remove this if you want "auto" height */
//   width: calc(100% - 88px); /* Set the width of the sidebar */
//   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
//   z-index: 1; /* Stay on top */
//   top: 0; /* Stay at the top */
//   left: 0;
//   background-color: white; /* White */
//   overflow-y: hidden; /* Disable horizontal scroll */
//   padding-top: 20px;
//   margin-left: 80px;
//   margin-top: 8px;
//   border-radius: 20px; /* Corner radius */
//   box-shadow: 0px 0px 1px 1px #00000026;

//   p, a {
//     text-decoration: none;
//     font-size: 22px;
//     text-align: center;
//     color: white;
//   }

// }
